[access]
	inheritFrom = OSS/OSS-Parent
[access "refs/heads/*"]
	owner = group VM-VNFM Admin
[access "refs/*"]
	owner = group VM-VNFM Admin
	create = group VM-VNFM Admin
	createTag = group VM-VNFM Admin
	forgeCommitter = group VM-VNFM Admin
	label-Code-Review = -2..+2 group VM-VNFM Admin
	label-Code-Review = -2..+2 group user/Anish vidyadharan (xanivid)
	label-Code-Review = -2..+2 group user/Rahulkumar Pampati (zpamrah)
	label-Verified = -1..+1 group VM-VNFM Admin
	rebase = group VM-VNFM Admin
	submit = group VM-VNFM Admin
	push = group VM-VNFM Admin
[access "refs/for/refs/heads/master"]
	pushMerge = group VM-VNFM Admin
	pushMerge = group VNFLAF_Guard
[access "refs/heads/master"]
	push = group VM-VNFM Admin
	push = group VNFLAF_Guard
